/* Common styles, Please change styles only in custom.css */

.grid-table, .grid-header-table, .grid-col, .grid-cell, .grid-footer {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.grid-viewport {
    position: relative;
    outline: 1px #FFCCCC solid;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 20px;
    min-width: 20px;
}

.grid-header {
    overflow: hidden;
}

.grid-content {
    overflow: auto;
}

.grid-footer {
    height: 18px;
    margin-top: 1px;
    display: none;
    overflow: hidden;
    outline: 1px solid #ffcccc;
    padding: 4px;
}

.grid-content-wrap, .grid-header-wrap {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.grid-content-table, .grid-header-table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
    empty-cells: show;
    margin: 0;
    max-width: none;
    outline: 0 none;
    padding: 0;
    position: relative;
    table-layout: fixed;
    width: 0;
}

.grid-header-cell {
    border-color: #FFCCCC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    position: relative;
    padding: 2px;
    /*font-weight: bold;*/
    line-height: 18px;
    background-color: #ccffcc;
}

.grid-header-cell-div, .grid-cell {
    position: relative;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-cell {
    border-color: #FFCCCC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 2px;
}

.grid-cell-hide-border {
    border-right-width: 0;
}

.grid-cell-row-last {
    border-bottom-width: 0;
}

.grid-cell-column-last {
    border-right-width: 0;
}

.grid-cell-column-last-disabled {
    border-right-width: 0;
    box-shadow: 1px 0 0 #FFCCCC;
}

.grid-cell-formatter {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.grid-scroll-vertical, .grid-scroll-horisontal {
    height: 0;
    position: relative;
    width: 0;
}

.disable-text-selection {
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-cursor-pointer {
    cursor: pointer;
}

.grid-cursor-resize {
    cursor: col-resize;
}

.grid-column-name {
    display: inline;
    overflow: hidden;
    position: relative;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-sortable {
    display: inline;
}

.grid-resizable-handle {
    cursor: col-resize;
    display: block;
    font-size: 0.1px;
    height: 100%;
    position: absolute;
    right: -3px;
    top: 0;
    width: 8px;
}

.grid-sort-icon-asc {
    margin-left: 4px;
    padding-right: 10px;
}

    .grid-sort-icon-asc:before {
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f106";
    }


.grid-sort-icon-desc {
    margin-left: 4px;
    padding-right: 10px;
}

    .grid-sort-icon-desc:before {
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f107";
    }

.grid-header-filter {
    position: absolute;
    right: 0;
    text-align: center;
    width: 20px;
    height: 14px;
}

.grid-cell-align-right .grid-header-filter {
    margin-left: 5px;
    position: relative;
}

.grid-header-filter-active .grid-header-filter {
    font-size: 1.3em;
}
.grid-header-filter-active .grid-header-filter:before {
    color:#8eb28e;
}

.grid-header-filter:before {
    color: #000;
    font-family: FontAwesome;
    font-size: 1em;
    content: "\f0d7";
}

.grid-cell-edit {
    overflow: visible;
    padding: 0;
}

    .grid-cell-edit > label {
        display: block;
    }


.grid-row-valign-top {
    vertical-align: top;
}

.grid-row-valign-bottom {
    vertical-align: bottom;
}

.grid-row-valign-middle {
    vertical-align: middle;
}

.grid-row-valign-baseline {
    vertical-align: baseline;
}

.grid-cell-align-center {
    text-align: center;
}

.grid-cell-align-right {
    text-align: right;
}

.grid-row-even {
    background-color: #DEDEDE;
}

.grid-row-odd {
    background-color: #FFFFFF;
}

.grid-row-selected {
    background-color: #DEDEBE;
}

.grid-select-editor {
    padding: 3px 2px 2px 2px;
    width: 100%;
    border: 0 none;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.grid-text-editor, .grid-integer-editor, .grid-float-editor {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 2px;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.grid-textarea-editor {
    z-index: 1;
    margin: 0;
    padding: 2px;
    font-size: 15px;
    background-color: #fff;
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}


.grid-window {
    display: inline-block;
}

.grid-preload-font {
    visibility: hidden;
    width: 1px;
    height: 0;
    font-family: FontAwesome;
}

.grid-viewport i.fa-check-square-o, .grid-viewport i.fa-square-o {
    cursor: default;
}

.grid-viewport i.fa-square-o::before {
    margin-right: 2px;
}

.grid-viewport .disabled-color {
    color: #ffcccc;
}