/* Plugins styles */



/* Header menu */
.grid-header-menu-content {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #FFCCCC;
}

.grid-header-menu {
    cursor: default;
    text-align: left;
    background-color: #fdfdfd;
    max-width: 150px;
}

    .grid-header-menu input {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
    }

    .grid-header-menu select {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
    }

    .grid-header-menu .btn-submit {
        width: 55%;
        background-color: #4dc1aa;
        border: 1px;
        padding: 5px;
        margin-bottom: 0;
        cursor: pointer;
    }

    .grid-header-menu .btn-clear {
        width: 40%;
        border: 1px;
        padding: 5px;
        margin-bottom: 0;
        cursor: pointer;
    }

    .grid-header-menu .btn-submit + .btn-clear {
        margin-left: 5%;
    }

/*Column picker*/
.grid-columnpicker-menu {
    display: inline-block;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    background-color: #fdfdfd;
}

    .grid-columnpicker-menu div * {
        cursor: pointer;
    }

.grid-columnpicker-menucontent div {
    white-space: nowrap;
}


.grid-columnpicker-menucontent {
    overflow-y: scroll;
    max-height: 200px;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #FFCCCC;

}

    .grid-columnpicker-menucontent > div {
        margin: 5px;
    }

    .grid-columnpicker-menucontent input {
        vertical-align: text-bottom;
    }

/* Formatters*/
.grid-textarea-formatter {
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}

    .grid-textarea-formatter > div {
        margin: 2px;
    }

.grid-cell-align-right .grid-textarea-formatter > div {
    margin-right: 16px;
}

.grid-select-icon-formatter:before{
    color:#99CCCC;
    position: absolute;
    right: 2px;
    top: 20%;
    content: "";
    font-family: FontAwesome;
    cursor:default;
}
.grid-text-icon-formatter:before {
    color:#99CCCC;
    position: absolute;
    right: 2px;
    top: 20%;
    content: "";
    font-family: FontAwesome;
    cursor:default;
}
.grid-date-icon-formatter:before {
    color:#99CCCC;
    position: absolute;
    right: 2px;
    top: 15%;
    content: "";
    font-family: FontAwesome;
    cursor:default;
}

