/* Plugins styles */



/* Header menu */
.grid-header-menucontent {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    border: 1px solid black;
}

.grid-header-menu {
    cursor: default;
    text-align: left;
    background-color: #fdfdfd;
    max-width: 150px;
}

    .grid-header-menu input {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
    }

    .grid-header-menu select {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
    }

    .grid-header-menu .btn-submit {
        width: 55%;
        background-color: #4dc1aa;
        border: 1px;
        padding: 5px;
        margin-bottom:0px;
    }

    .grid-header-menu .btn-clear {
        width: 40%;
        border: 1px;
        padding: 5px;
        margin-bottom:0px;
    }

    .grid-header-menu .btn-submit + .btn-clear {
        margin-left: 5%;
    }

/*Column picker*/
.grid-columnpicker-menu {
    display: inline-block;

    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
    text-align: left;
    background-color: #fdfdfd;

}


.grid-columnpicker-menucontent {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    position: relative;
    border: 1px solid black;
    overflow: auto;
}

.grid-columnpicker-menucontent > div {
    margin: 5px;
}

.grid-columnpicker-menucontent input {
    vertical-align: text-bottom;
}