/* Common styles, Please change styles only in custom.css */


.grid-table, .grid-header-table, .grid-col, .grid-cell {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.grid-viewport {
    position: relative;
    border: 1px solid black;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    display:inline-block;
}

.grid-header {
    overflow: hidden;
}

.grid-content {
    overflow-x: auto;
    overflow-y: auto;
}

.grid-footer {
    overflow: hidden;
}

.grid-content-wrap, .grid-header-wrap {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.grid-content-table, .grid-header-table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
    empty-cells: show;
    margin: 0;
    max-width: none;
    outline: 0 none;
    padding: 0;
    position: relative;
    table-layout: fixed;
    width: 0;
}

.grid-header-cell {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 0;
    position: relative;
    padding: 2px;
    font-weight: bold;
}

.grid-header-cell-div, .grid-cell {
    position: relative;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.grid-cell {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 2px;
}



.grid-cell-hide-border {
    border-right-width: 0;
}

.grid-cell-last {
    border-right-width: 0;
}
.grid-cell-last-disabled {
    border-right-width: 0;
    box-shadow: 1px 0 0 black;
}
.grid-cell-formatter {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.grid-scroll-vertical, .grid-scroll-horisontal {
    height: 0;
    position: relative;
    width: 0;
}

.disable-text-selection {
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-cursor-pointer {
    cursor: pointer;
}

.grid-cursor-resize {
    cursor: col-resize;
}

.grid-column-name {
    display: inline;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-sortable {
    display: inline;
}

.grid-resizable-handle {
    cursor: col-resize;
    display: block;
    font-size: 0.1px;
    height: 100%;
    position: absolute;
    right: -3px;
    top: 0;
    width: 8px;
}

.grid-sort-icon-asc {
    margin-left: 4px;
    padding-right: 10px;
}

    .grid-sort-icon-asc:before {
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f106";
    }


.grid-sort-icon-desc {
    margin-left: 4px;
    padding-right: 10px;
}

    .grid-sort-icon-desc:before {
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f107";
    }

.grid-header-filter {
    position: absolute;
    right: 0;
    text-align: center;
    width: 20px;
}

    .grid-header-filter:before {
        color: #000;
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f0d7";
    }

.grid-cell-edit {
    padding: 0;
}

    .grid-cell-edit > label {
        display:block;
    }

.grid-row-valign-top {
    vertical-align: top;
}

.grid-row-valign-bottom {
    vertical-align: bottom;
}

.grid-row-valign-middle {
    vertical-align: middle;
}

.grid-row-valign-baseline {
    vertical-align: baseline;
}

.grid-cell-align-center {
    text-align: center;
}

.grid-cell-align-right {
    text-align: right;
}

.grid-row-even {
    background-color: #DEDEDE;
}

.grid-row-odd {
    background-color: #FFFFFF;
}

.grid-row-selected {
    background-color: #DEDEBE;
}


.grid-text-editor, .grid-integer-editor {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 2px;
    width: 100%;
    background-color:#dedebe;
    font-size:15px;
}

.grid-window {
    display:inline-block;
}

.grid-preload-font {
    visibility:hidden;
    width:1px; height:1px;
    font-family: FontAwesome;
}
/* Plugins styles */



/* Header menu */
.grid-header-menucontent {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    border: 1px solid black;
}

.grid-header-menu {
    cursor: default;
    text-align: left;
    background-color: #fdfdfd;
    max-width: 150px;
}

    .grid-header-menu input {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
    }

    .grid-header-menu select {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5px;
    }

    .grid-header-menu .btn-submit {
        width: 55%;
        background-color: #4dc1aa;
        border: 1px;
        padding: 5px;
        margin-bottom:0px;
    }

    .grid-header-menu .btn-clear {
        width: 40%;
        border: 1px;
        padding: 5px;
        margin-bottom:0px;
    }

    .grid-header-menu .btn-submit + .btn-clear {
        margin-left: 5%;
    }

/*Column picker*/
.grid-columnpicker-menu {
    display: inline-block;

    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
    text-align: left;
    background-color: #fdfdfd;

}


.grid-columnpicker-menucontent {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    position: relative;
    border: 1px solid black;
    overflow: auto;
}

.grid-columnpicker-menucontent > div {
    margin: 5px;
}

.grid-columnpicker-menucontent input {
    vertical-align: text-bottom;
}