/* Common styles, Please change styles only in custom.css */


.grid-table, .grid-header-table, .grid-col, .grid-td, .grid-th {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


.grid-viewport {
    position: relative;
}

.grid-header {
    overflow: hidden;
}

.grid-canvas {
    overflow-x: scroll;
    overflow-y: scroll;
}

.grid-footer {
    overflow: hidden;
}

.grid-table-wrap, .grid-header-wrap {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.grid-table, .grid-header-table {
    border-collapse: separate;
    border-spacing: 0px;
    border-width: 0px;
    empty-cells: show;
    margin: 0;
    max-width: none;
    outline: 0 none;
    padding: 0;
    position: relative;
    table-layout: fixed;
    width: 0px;
}


.grid-tr-even {
    background-color: #b8d1f3;
}

.grid-tr-odd {
    background-color: #FFFFFF;
}

.grid-col, .grid-td, .grid-th, .grid-header-cell {
}

.grid-header-td-div, .grid-td-div {
    position: relative;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


.grid-cell-formatter {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.grid-scroll-vertical, .grid-scroll-horisontal {
    height: 0px;
    position: relative;
    width: 0px;
}

.disable-text-selection {
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-cursor-pointer {
    cursor: pointer;
}

.grid-cursor-resize {
    cursor: col-resize;
}

.grid-column-name {
    display: inline;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-sortable {
    display: inline;
}

.grid-sort-icon {
}

.grid-sort-icon-asc {
    margin-left: 4px;
    padding-right: 10px;
}

    .grid-sort-icon-asc:before {
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f106";
    }

.grid-sort-icon-desc {
    margin-left: 4px;
    padding-right: 10px;
}

    .grid-sort-icon-desc:before {
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f107";
    }

.grid-header-filter {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
}

    .grid-header-filter:before {
        color: #000;
        font-family: FontAwesome;
        font-size: 1em;
        content: "\f0d7";
    }

.grid-resizable-handle {
    cursor: col-resize;
    display: block;
    font-size: 0.1px;
    height: 100%;
    position: absolute;
    right: -3px;
    top: 0;
    width: 8px;
}



.grid-row-selected {
    background-color: #9fc2f3;
}

/* Custom styles */

/* Plugins styles */

.grid-header-menucontent {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    position: relative;
}

.grid-header-menu {
    cursor: default;
    text-align: left;
    background-color: blue;
    max-width: 150px;
}

    .grid-header-menu input {
        width: 124px;
        margin-bottom: 5px;
    }

    .grid-header-menu select {
        width: 130px;
        margin-bottom: 5px;
    }

    .grid-header-menu .btn {
        width: 65px;
    }
